.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #282c34;
}

.App-logo-background {
  /*background-color: #282c34;*/
}

.App-logo-big {
  background-color: #282c34;
}

.App-logo-mid {
  background-color: #282c34;
  height: 20vmin;

}
.App-logo-small {
  background-color: #282c34;
  height: 10vmin;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}
.course-Name-Box{
  /*background-color: #282c34;*/
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  /*color: white;*/
  /*border-style: outset;*/
  
}
.p-course-Deslideion{
  width : 70%;
  word-break: break-word;
  white-space: normal;
  text-align: left;
  font-size: calc(6px + 2vmin);
}
.p-clip-card-text{
  width : 70%;
  word-break: break-word;
  white-space: nowrap;
  text-align: left;
  font-size: .8vw;
  color:brown;

}
.p-no-audio{
  color:red;
  font-size:x-small;
}

.InlineDivStyle {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ClipListCard {
  min-height: 100px;
  max-height: 150px;
}
.SimpleCard-ClipListCard {
  min-height: 80px;
  /*max-height: 130px;*/

}
.SimpleCard-ClipListCard-Approved {
  background-color: #e6ffe6
  ;
}
.SimpleCardDiv {
  padding:10px;
}
.courseListBox {
  width: 50%;
  border-width: 2px;
  border-style: groove;
  border-radius: 2px;

  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logListBox {
  width: 90%;
  border-width: 0px;
  border-style: groove;
  border-radius: 0px;

  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LogListTable {
  border-collapse: collapse;
  width: 90%;
  border-width: 1px;
  border-style: solid;
}
.LogListTable-HeaderRow {
  width: 90%;
  border-width: 1px;
  border-style: solid;
  font-size:smaller;
  font-weight:bolder;
  
}
.LogListTable-DataRow {
  border-width: 0px;
  border-style: solid;
  font-size:small;
  
}
.LogListTable-DataRow:nth-child(even) {background-color: #f2f2f2;}
.div-Slide-Details-Container {
  width: 95%;
  display: flex;    
  flex-direction: row;
  /*align-items: center;*/
  justify-content: center;

}
.div-Slide-Details-Container-Slide {
  width: 50%;
  height: 100%;
  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}
.div-Slide-Details-ClipsList {
    /* display: flex; */
    /* flex-direction: column; */
    overflow-y: scroll;
    height: 600px;
    /* height: 100%; */
    padding-right: 10px;
    columns: 2;
    flex: 2 2;
    display: flex;
    /* overflow: auto; */
    flex-direction: row;
    flex-wrap: wrap;
}
.div-Slide-Details-ClipsList-Column {
  width: 25%;
  margin-left: 5px;
}
.div-SlidQuickSelectContainer {
  display: flex;
  flex-direction: row;
}
.div-SlideQuickSelectColumn {
  display: flex;
  width: 33%;
  font-size: .8vw;
  font-weight:bolder;
  flex-direction: column;
  text-align: left;
}
.div-SlideHeader {
  width: 100%;
  display: flex;
}
.div-ClipListCard {
  width: 50%;
}
.div-Slide-Details-Container-TextArea{
  /*height: 400px;*/
  width: 100%
}
.SimpleTextArea {
  width: 90%;
}
.SimpleTextArea-Fill {
  width: 100%;
  height: 600px;
}
.simpleTextArea-largebox{
  width: 100%;
  height: 200px !important;
}

.courseListCard {
  width: 90%
}

.SimpleDialog {
  padding: 10px
}
.simpleSelect-small {
  
}
.buttonGroup-row>*{
  padding: 5px;
}
.button-Simple {
  padding: 5px;
}
.button-Link {
  margin: 5px;
}
.info-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  
}
.icon-button {
  cursor:pointer;
  margin: 5px
}
